<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>custom online</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css"/>
    <script src="./static/js/fabric.js"></script>
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/color-thief.js"></script>
</head>

<body>
<div class="content">

    <div class="content_inner">
        <canvas id="canvas" width="600" height="600"></canvas>
        <div id='canvasAbs' style="position:absolute; border:1px dotted black;  ">
            <canvas id="canvas1"></canvas>
        </div>
    </div>
</div>
<div class="side" id = "main">
        totalPrice:{{basePrice+partPrice+textPrice+imagePrice}}
        <!--select product/style/template-->
        <div>
            step 1<br/>
            <a href="#" @click="changeProduct">change product</a>
            <br/>
            Sublimation<input type="checkbox" :value="isSublimation"/>
            <br/>
            <a href="#" @click="changeColor">change color</a>
            price:{{basePrice}}
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <!--select accessories/color-->
        <div>
            step 2<br/>
            <div>
                price:{{partPrice}}
                <br/>
                select part
                <select v-model="partSelected">
                    <option value="">Please Select</option>
                    <option v-for="(option,index) in partOptions" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div>
                <div v-for="(option,index) in partOptions" v-show="partSelected==option.value">
                    <span>color-{{index}}</span>
                    <select v-model="partColorValue">
                        <option v-for="(color,index) in option.color" :value="color.value">
                            {{ color.text }}
                        </option>
                    </select>
                    <br/>
                    <span>ornament-{{index}}</span>
                    <select v-model="partOrnamentValue">
                        <option v-for="(ornament,index) in option.ornament" :value="ornament.value">
                            {{ ornament.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <!--add text/iamge-->
        <div>
            step 3<br/>
            <div>
                <div>
                    <button class="btn" @click="addText">Add text</button>
                    <input type="text" v-model="customText" value="">
                </div>
                <div>
                    <label for="font-family" style="display:inline-block">Font family:</label>
                             <select v-model="fontFamily">
                                <option value="">Please Select</option>
                                <option v-for="(fontFamily,index) in fontJson.fontFamily" :value="fontFamily.value">
                                    {{ fontFamily.text }}
                                </option>
                            </select>
                            <br>
                            <label for="text-align" style="display:inline-block">Text align:</label>
                            <select v-model="textAlign">
                                <option value="">Please Select</option>
                                <option v-for="(textAlign,index) in fontJson.textAlign" :value="textAlign.value">
                                    {{ textAlign.text }}
                                </option>
                            </select>
                            <div>
                                <label for="text-lines-bg-color">Background text color:</label>
                                <input type="color" value="" size="10" v-model="textBgColor">
                            </div>
                            <div>
                                <label for="text-font-size">Font size:</label>
                                <input type="range" value="" min="1" max="120" step="1" v-model="fontSize">
                            </div>
                            <div>
                                <label for="text-line-height">Line height:</label>
                                <input type="range" value="" min="0" max="10" step="0.1" v-model="lineHeight">
                            </div>
                            <div>
                                <label for="text-char-spacing">Char spacing:</label>
                                <input type="range" value="" min="-200" max="800" step="10" v-model="charSpacing">
                            </div>
                            <label for="text-align" style="display:inline-block">Text align:</label>
                            <select v-model="fontStyle">
                                <option value="">Please Select</option>
                                <option v-for="(fontStyle,index) in fontJson.fontStyle" :value="fontStyle.value">
                                    {{ fontStyle.text }}
                                </option>
                            </select>
                </div>
                price:{{textPrice}} ----- 文字印刷怎么算价格
            </div>
            <div>

                <p @click="imgSelect=1">Select  Art Clip</p>
                <p @click="imgSelect=2">Upload image</p>
                <p @click="imgSelect=3">Add  my art</p>
            </div>
            <div v-if="imgSelect==1" style="border: 1px dashed #000;">
                <div v-for="artImg in json.data.artImg" @click="clipSelect=artImg.name">
                    <p>{{artImg.name}}</p>
                    <div v-for="artImgValue in artImg.value" v-if="clipSelect==artImg.name">
                        <img :src="artImgValue.url" @click="addImage(artImgValue.url)"/>
                    </div>
                </div>
                <button class="btn" @click="removeWhite">remove white</button>
            </div>
            <div v-if="imgSelect==2">
                select image:<input type="file" name="file" @change="imgPreview"/>
                Palette:
                <div class="swatches">
                    <template v-for="color in paletteColor">
                        <div class="swatch" :style="'background-color: ' + color"></div>
                    </template>
                </div>
                <button class="btn" @click="removeWhite">remove white</button>
                <br>
                <label style="display:inline-block">crafts:</label>
                <select v-model="crafts">
                    <option value="">Please Select</option>
                    <option v-for="(crafts,index) in json.data.crafts" :value="crafts.value">
                        {{ crafts.text }}
                    </option>
                </select>
                <br>
                <label style="display:inline-block">colors:</label>
                <select v-model="crafts">
                    <option value="">Please Select</option>
                </select>
                <br>
                <label style="display:inline-block">width:</label>
                <input type="text" v-model="customImgWidth" value="">
                <br/>
                <label style="display:inline-block">height:</label>
                <input type="text" v-model="customImgHeight" value="">
                <br/>
                <label style="display:inline-block">angle:</label>
                <input type="text" v-model="customImgAngle" value="">
            </div>
            <div v-if="imgSelect==3">
                <div v-for="custImg in json.data.custImg">
                    <img :src="custImg.url" @click="addImage(custImg.url)"/>
                </div>
            </div>
            price:{{imagePrice}}
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <!--add text/iamge-->
        <div>
            operator<br/>
            <button class="btn" @click="">next</button>
            <button class="btn" @click="save">Save</button>
            <button class="btn" @click="share">Share</button>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <img id="colorImg" :src="colorImg" style="display: none">
</div>
<div class="footer">
</div>
</body>
</html>

<script>
    /**
     * Created by hehuizhong on 2017/6/17.
     */
    var staticJson = {
        "data": {
            "fontProp": {
                "fontFamily": [
                    {
                        "text": "Arial",
                        "value": "arial"
                    },
                    {
                        "text": "Helvetica",
                        "value": "helvetica"
                    },
                    {
                        "text": "Myriad Pro",
                        "value": "myriad pro"
                    },
                    {
                        "text": "Delicious",
                        "value": "delicious"
                    },
                    {
                        "text": "Verdana",
                        "value": "verdana"
                    },
                    {
                        "text": "Georgia",
                        "value": "georgia"
                    },
                    {
                        "text": "Courier",
                        "value": "courier"
                    },
                    {
                        "text": "Comic Sans MS",
                        "value": "comic sans ms"
                    },
                    {
                        "text": "Impact",
                        "value": "impact"
                    },
                    {
                        "text": "Monaco",
                        "value": "monaco"
                    },
                    {
                        "text": "Optima",
                        "value": "optima"
                    },
                    {
                        "text": "Hoefler Text",
                        "value": "hoefler text"
                    },
                    {
                        "text": "Plaster",
                        "value": "plaster"
                    },
                    {
                        "text": "Engagement",
                        "value": "engagement"
                    }
                ],
                textAlign:[
                    {
                        "text": "Left",
                        "value": "Left"
                    },
                    {
                        "text": "Center",
                        "value": "Center"
                    },
                    {
                        "text": "Right",
                        "value": "Right"
                    },
                    {
                        "text": "Justify",
                        "value": "Justify"
                    }
                ],
                fontStyle:[
                    {
                        "text": "Bold",
                        "value": "Bold"
                    },
                    {
                        "text": "Italic",
                        "value": "Italic"
                    },
                    {
                        "text": "Underline",
                        "value": "Underline"
                    },
                    {
                        "text": "Linethrough",
                        "value": "Linethrough"
                    },
                    {
                        "text": "Overline",
                        "value": "Overline"
                    }
                ]
            }
        }
    }
    var json = {
        "data": {
            "imgs":[//预加载衣服的图片和路径
                {
                    "name":"LEFT",
                    "url":"./static/img/left.png",
                    "price":21
                },
                {
                    "name":"RIGHT",
                    "url":"./static/img/right.png",
                    "price":22
                },
                {
                    "name":"BODY",
                    "url":"./static/img/body.png",
                    "price":23
                }
            ],
            "partOptions": [//部件的数据
                {
                    "text": "One",
                    "value": "A",
                    "color": [//部件颜色和价格
                        {"text": "Red",   "value": "red" ,"price":12},
                        {"text": "Dark",  "value": "dark","price":13},
                        {"text": "Yellow","value": "yellow","price":14}
                    ],
                    "ornament": [//附件样式和价格
                        {"text": "ornament--1","value": "ornament1" ,"price":12},
                        {"text": "ornament--2","value": "ornament2","price":13},
                        {"text": "ornament--3","value": "ornament3","price":14}
                    ]

                },
                {
                    "text": "Two",
                    "value": "B",
                    "color": [
                        {"text": "Red",   "value": "red","price":12},
                        {"text": "Dark",  "value": "dark","price":13},
                        {"text": "Yellow","value": "yellow","price":14}
                    ],
                    "ornament": [
                        {"text": "ornament--1","value": "ornament1","price":12},
                        {"text": "ornament--2","value": "ornament2","price":13},
                        {"text": "ornament--3","value": "ornament3","price":14}
                    ]
                },
                {
                    "text": "Three",
                    "value": "C",
                    "color": [
                        {"text": "Red",   "value": "red","price":12},
                        {"text": "Dark",  "value": "dark","price":13},
                        {"text": "Yellow","value": "yellow","price":14}
                    ],
                    "ornament": [
                        {"text": "ornament--1","value": "ornament1","price":12},
                        {"text": "ornament--2","value": "ornament2","price":13},
                        {"text": "ornament--3","value": "ornament3","price":14}
                    ]
                }
            ],
            "artImg":[//可选择的系统log
              {
                "name":"Shapes/Symbols",
                "value":[
                  {
                    "name":"Shapes1",
                    "url":"./static/img/Peace.jpg",
                    "price":"12"
                  }
                ]
              },
              {
                "name":"Sports/Games",
                "value":[]
              },
              {
                "name":"Letters/Numbers",
                "value":[]
              },
              {
                "name":"Animals",
                "value":[]
              },
              {
                "name":"Emojis",
                "value":[]
              },
              {
                "name":"Mascots",
                "value":[]
              },
              {
                "name":"Nature",
                "value":[]
              }
            ],
            "custImg":[//可选择的系统log
              {
                "name":"Shapes1",
                "url":"./static/img/Peace.jpg",
                "price":"12"
              }
          ],
            "crafts": [
               {"text": "embroidery",   "value": "embroidery" ,"price":12},
               {"text": "screen printing",  "value": "screen printing","price":13},
               {"text": "3d printing","value": "3d printing","price":14}
            ],
          "rect":[
             {x: 150, y: 100},
             {x: 440, y: 100},
             {x: 150, y: 500},
             {x: 440, y: 500}]
        }
    };
    var canvas = new fabric.Canvas('canvas');
    var canvas1 = null;
    var filter = fabric.Image.filters;
    function getActiveProp(name) {
      var object = canvas1.getActiveObject();
      if (!object) return '';

      return object[name] || '';
    }

    function setActiveProp(name, value) {
      var object = canvas1.getActiveObject();
      if (!object) return;
      object.set(name, value).setCoords();
      canvas1.renderAll();
    }

    function setActiveStyle(styleName, value, object) {
      object = object || canvas1.getActiveObject();
      if (!object) return;

      if (object.setSelectionStyles && object.isEditing) {
        var style = { };
        style[styleName] = value;
        object.setSelectionStyles(style);
        object.setCoords();
      }
      else {
        object.set(styleName, value);
      }

      object.setCoords();
      canvas1.renderAll();
    };

    new Vue({
        el: '#main',
        data: {
            lineCenterPoint: null,
            imgMap: [],
            productId: '',
            googdsId: '',
            isSublimation: '',
            partSelected: '',
            partOptions: json.data.partOptions,
          imgsCount:-1,

            customText:'',
            fontJson:staticJson.data.fontProp,
            fontFamily:'',
            textAlign:'',
            textBgColor:'',
            fontSize:'22',
            lineHeight:'',
            charSpacing:'',
            fontStyle:'',

            imgSelect:'',
            clipSelect:'',
            crafts: '',
            customImgWidth: '',
            customImgHeight: '',
            customImgAngle: '',
            colorImg: '',
            palette:[],
            paletteColor:[],

            basePrice:0,
            partOrnamentValue:'',
            partColorValue:'',
          rectObj:{}

        },
        created: function () {
            this.init();
        },
        computed: {
          partPrice: function () {
            var price = 0;
            imgsCount = json.data.partOptions.length;
            for (var i = 0;i< json.data.partOptions.length;i++){
              if(json.data.partOptions[i].value === this.partSelected){
                for (var j = 0;j< json.data.partOptions[i].color.length;j++){
                  if(json.data.partOptions[i].color[j].value === this.partColorValue) {
                    price += json.data.partOptions[i].color[j].price;
                  }
                }
                for (var k = 0;k< json.data.partOptions[i].ornament.length;k++){
                  if(json.data.partOptions[i].ornament[k].value === this.partOrnamentValue) {
                    price += json.data.partOptions[i].ornament[k].price;
                  }
                }
              }
            }
            return price;
          },
          textPrice:function () {
            var price = 0;
            if(this.customText !== '') {
              price = 10;
            }
            return price;
          },
          imagePrice:function () {
            var price = 0;
            if(this.imgSelect === '1') {
              price = 10;
            }else if(this.imgSelect === '2') {
              price = 10;
            }else if(this.imgSelect === '3') {
              price = 10;
            }
            return price;
          }
        },
        methods: {
            init: function () {
              this.basePrice = 0;
              this.imgsCount = json.data.imgs.length;
                for (var i = json.data.imgs.length - 1; i >= 0; i--) {
                    this.addImage1(json.data.imgs[i].url, json.data.imgs[i].name);
                    this.basePrice += json.data.imgs[i].price;
                };
              this.rectObj.x = json.data.rect[0].x;
              this.rectObj.y = json.data.rect[0].y;
              this.rectObj.width = json.data.rect[1].x-json.data.rect[0].x;
              this.rectObj.height = json.data.rect[2].y-json.data.rect[0].y;
              document.getElementById("canvasAbs").style.left = this.rectObj.x+"px";
              document.getElementById("canvasAbs").style.top = this.rectObj.y+"px";
              document.getElementById("canvas1").width = this.rectObj.width;
              document.getElementById("canvas1").height = this.rectObj.height;
              canvas1 = new fabric.Canvas('canvas1');
            },
            addImage1: function (imageUrl, imageName) {
                var _this = this;
                fabric.Image.fromURL(imageUrl, function (image) {

                    image.set({
                        left: 0,
                        top: 0,
                        hasBorders: false,
                        hasControls: false,
                        selectable: false
                    })
                        .scale(1)
                        .setCoords();

                  canvas.add(image);
                  _this.imgsCount--;
                    _this.imgMap[imageName] = image;
                });
            },
            addImage2: function (imageUrl) {
                var self = this;
                fabric.Image.fromURL(imageUrl, function (img) {
                    img.scale(0.5).set({
                        centeredRotation: true,
                        left: 150,
                        top: 150
                    });
                    var iii = canvas1.add(img);
                    iii.setActiveObject(img);
                    var isEnter = false;
                    var target = null;
                    iii.on({
                        'mouse:down': function (e) {
                            isEnter = true;
                            if (e.target) {
                                target = e.target;
                            }
                            console.log('mouse down');
                        },
                        'mouse:move': function (e) {
                            if (isEnter && target) {
                                setTimeout(function moveToCenter() {
                                    var targetCenterPoint = target.getCenterPoint();
                                    console.log(targetCenterPoint.x + '-----' + targetCenterPoint.y);
                                    var xDeviation = targetCenterPoint.x - self.lineCenterPoint.x;
                                    var yDeviation = targetCenterPoint.y - self.lineCenterPoint.y;
                                    if (Math.abs(xDeviation) < 10 && Math.abs(xDeviation) != 0) {
                                        var pos = '';
                                        if (xDeviation < 0) {
                                            pos = '+=' + Math.abs(xDeviation);
                                        } else if (xDeviation > 0) {
                                            pos = '-=' + Math.abs(xDeviation);
                                        }
                                        target.animate('left', pos, {
                                            duration: 100,
                                            onChange: canvas1.renderAll.bind(canvas1)
                                        });
                                    }
                                    /*target.animate('left', '+=100', {
                                     duration: 100,
                                     onChange: canvas1.renderAll.bind(canvas1)
                                     });*/
                                }, 100)
                                //                        moveToCenter(target);
                            }
                        },
                        'mouse:up': function (e) {
                            console.log('mouse up');
                            isEnter = false;
                        },
                        'mouse:enter': function (e) {
                            console.log('mouse enter');
                        },
                        'mouse:out': function (e) {
                            console.log('mouse out');
                        }
                    });

                      //取色
                      var colorThief = new ColorThief();
                      self.palette = colorThief.getPalette(document.querySelector('#colorImg'), 8);
                      for (var i = 0;i<self.palette.length; i++) {
                        self.paletteColor.push( 'rgb('+self.palette[i][0]+', '+self.palette[i][1]+', '+self.palette[i][2]+');');
                      }
                });
            },
          addImage: function (imageUrl) {
                var self = this;
                fabric.Image.fromURL(imageUrl, function (img) {
                    img.scale(0.5).set({
                        centeredRotation: true,
                        left: 50,
                        top: 50
                    });
                    var iii = canvas1.add(img);
                    iii.setActiveObject(img);
                    var isEnter = false;
                    var target = null;
                    iii.on({
                        'mouse:down': function (e) {
                            isEnter = true;
                            if (e.target) {
                                target = e.target;
                            }
                            console.log('mouse down');
                        },
                        'mouse:move': function (e) {
                            if (isEnter && target) {
                                setTimeout(function moveToCenter() {
                                    var targetCenterPoint = target.getCenterPoint();
                                    console.log(targetCenterPoint.x + '-----' + targetCenterPoint.y);
                                    var xDeviation = targetCenterPoint.x - self.lineCenterPoint.x;
                                    var yDeviation = targetCenterPoint.y - self.lineCenterPoint.y;
                                    if (Math.abs(xDeviation) < 10 && Math.abs(xDeviation) != 0) {
                                        var pos = '';
                                        if (xDeviation < 0) {
                                            pos = '+=' + Math.abs(xDeviation);
                                        } else if (xDeviation > 0) {
                                            pos = '-=' + Math.abs(xDeviation);
                                        }
                                        target.animate('left', pos, {
                                            duration: 100,
                                            onChange: canvas1.renderAll.bind(canvas1)
                                        });
                                    }
                                    /*target.animate('left', '+=100', {
                                     duration: 100,
                                     onChange: canvas1.renderAll.bind(canvas1)
                                     });*/
                                }, 100)
                                //                        moveToCenter(target);
                            }
                        },
                        'mouse:up': function (e) {
                            console.log('mouse up');
                            isEnter = false;
                        },
                        'mouse:enter': function (e) {
                            console.log('mouse enter');
                        },
                        'mouse:out': function (e) {
                            console.log('mouse out');
                        }
                    });
                });
            },
            addText: function () {
                var text = this.customText;

                var textSample = new fabric.IText(text, {
                    left: 300,
                    top: 200,
                    fontFamily: 'helvetica',
                    fill: '#000',
                    scaleX: 0.5,
                    scaleY: 0.5,
                    fontWeight: '',
                    originX: 'left',
                    fontSize: '64',
                    hasRotatingPoint: true,
                    centerTransform: true
                });
              canvas1.add(textSample);
            },
            imgPreview: function (e) {
                var _this = this;
                if (window.FileReader) {
                    var reader = new FileReader();
                } else {
                    alert("Error");
                }
                var file =  e.target.files[0];
                var imageType = /^image\//;
                if (!imageType.test(file.type)) {
                    alert("error");
                    return;
                }
                reader.onload = function (e) {
                    /*
                     var img = document.getElementById("preview");
                     img.src = e.target.result;*/
                  _this.addImage(e.target.result, e.target.result);
                  _this.colorImg = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            applyFilter: function (index, filter) {
                var obj = canvas1.getActiveObject();
                obj.filters[index] = filter;
                obj.applyFilters(canvas1.renderAll.bind(canvas1));
            },
            removeWhite: function () {
                this.applyFilter(2, new filter.RemoveWhite({
                        threshold: 40,
                        distance: 140
                    }));
            },
            moveToCenter: function (target) {

                var targetCenterPoint = target.getCenterPoint();
                console.log(targetCenterPoint.x + '-----' + targetCenterPoint.y);
                var xDeviation = targetCenterPoint.x - this.lineCenterPoint.x;
                var yDeviation = targetCenterPoint.y - this.lineCenterPoint.y;
                if (Math.abs(xDeviation) < 10 && Math.abs(xDeviation) != 0) {
                    var pos = '';
                    if (xDeviation < 0) {
                        pos = '+=' + Math.abs(xDeviation);
                    } else if (xDeviation > 0) {
                        pos = '-=' + Math.abs(xDeviation);
                    }
                    target.animate('left', pos, {
                        duration: 100,
                        onChange: canvas1.renderAll.bind(canvas1)
                    });
                }
                /*target.animate('left', '+=100', {
                 duration: 100,
                 onChange: canvas1.renderAll.bind(canvas1)
                 });*/
            },
            changeProduct: function () {
                this.productId = 111;
            },
            changeColor: function () {
                this.googdsId = 222;
            },
            save: function () {
                console.log(JSON.stringify(canvas1));
            },
            share: function () {
                console.log(JSON.stringify(canvas1));
            }
        },
        watch:{
            "fontFamily":function (curVal,oldVal){
                setActiveProp('fontFamily', curVal.toLowerCase());
            },
            "textAlign":function (curVal,oldVal){
              setActiveProp('textAlign', curVal.toLowerCase());
            },
            "textBgColor":function (curVal,oldVal){
              setActiveProp('textBackgroundColor', curVal);
            },
            "fontSize":function (curVal,oldVal){
              setActiveStyle('fontSize', parseInt(curVal, 10));
            },
            "lineHeight":function (curVal,oldVal){
              setActiveStyle('lineHeight', parseFloat(curVal, 10));
            },
            "charSpacing":function (curVal,oldVal){
              setActiveStyle('charSpacing', curVal);
            },
            "fontStyle":function (curVal,oldVal){
              setActiveStyle('fontWeight', curVal);
            },
            "customImgWidth":function (curVal,oldVal){
              setActiveStyle('width', curVal);
            },
            "customImgHeight":function (curVal,oldVal){
              setActiveStyle('height', curVal);
            },
            "customImgAngle":function (curVal,oldVal){
              setActiveStyle('angle', curVal);
            },
            "imgsCount":function (curVal,oldVal){
              if(curVal ===0){
                //居中线
                var line = new fabric.Line([0, 0, 0, 600], {
                  left: 300,
                  top: 0,
                  stroke: '#000',
                  hasBorders: false,
                  hasControls: false,
                  selectable: false
                });
                this.lineCenterPoint = line.getCenterPoint();
                canvas.add(line);
                //canvas1.setOverlayImage('./static/img/a.png', canvas1.renderAll.bind(canvas1));
              }
            }
        }
    })
</script>