.center-block{
    width:1200px;
}
.content_canvas{
    position:relative;
}
.operate-canvas {
    position:absolute;
    border:1px dotted black;
}
.swatch {
    display: inline-block;
    margin-left: 2px;
    background: #dddddd;
    height: 30px;
    width: 30px;
}